body {
  margin: 0;
  font-family: 'Titillium Web', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ddeffd;
}

.main_page { 
  height: 100vh;
  background-color: #ddeffd;
  font-family: 'Titillium Web', sans-serif;
}

.main_page_heading {
  font-size: 30px;
  font-weight: 600;
  font-family: 'Titillium Web', sans-serif;
}

.MuiButton-containedPrimary {
  color: #fff !important;
  background-color: #fb9644 !important;
  padding: 6px 30px 3px !important;
  font-family: 'Titillium Web', sans-serif;
  font-size: 12px !important;
  margin-top: 15px !important;
}

.MuiPaper-root {
  background-color: transparent !important;
}

.step_one textarea {
  height: 150px;
}

.step_one label {
  width: 100%;
}

.step_one label span {
  float: right;
  border-bottom: 1px solid;
}

.step_two {
  padding-bottom: 25px;
}

.step_two .recipent_list {
  padding: 15px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 15px #ddd;
}

.step_two .recipent_list .table {
  margin-bottom: 0rem;
}

.step_two .address_total label {
  margin-top: 15px;
}

.step_two .address_total .col-md-6 {
  padding: 18px 25px;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

.step_two .address_total .col-md-6 h3 {
  font-weight: 800;
  font-size: 20px;
  margin-bottom: 0;
}

.step_two .address_total .col-md-6 h6 {
  color: #aaa;
  margin-bottom: 0;
  font-size: 12px;
}

.text-left {
  text-align: left;
}

.details_block_transaction {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 0 15px #ddd;
}

.successfully_transferred {
  text-align: center;
  font-weight: 800;
  margin-top: 40px;
  margin-bottom: 15px;
}

.listofaddresses {
  background: #fff;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ced4da;
  min-height: 175px;
  outline: 0 !important;
}

.address_details p {
  color: #aaa;
}

.address_details p span {
  border-bottom: 1px solid #aaa;
  cursor: pointer;
}

.chain-button {
  margin-top: 15px;
  margin-right: 15px;
  border: 1px solid white;
}

.top-alert {
  position: fixed;
  right: 10px;
  top: 80px;
  z-index: 2;
  width: 300px;
}

.alert-shown {
  opacity: 1;
  transition: all 250ms linear;
}

.alert-hidden {
  opacity: 0;
  transition: all 300ms linear;
}